@tailwind base;
@tailwind components;
@tailwind utilities;


@import 'bootstrap/dist/css/bootstrap.min.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

div .navbar-nav .nav-link.active, .nav-item .nav-link.active {
  color: deepskyblue;
}

.nav-item .nav-link {
  color: black;
  font-size: 0.8em;
}

.nav p{
  font-size: 0.9em;
}

.filter-nav {
  padding: .5rem .5rem 10rem .5rem;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
}

.projeto {
  font-size: 0.8rem;
  text-align: center;
}

.projeto div img {
  width: 100%;
}

.projeto .icon{
  font-size: 0.8rem;
  padding: 0.1rem 0.8rem;
  width: fit-content;
  color: black;
}

.projeto .icon img {
  margin-top: 0.1rem;
  margin-right: 0.2rem;
}

.detalhe-projeto img {
  width: 100%;
}

.detalhe-projeto strong {
  font-size: 1.2rem;
}
.description-detail {
  font-size: 0.8rem;
}
.row {
  max-width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
